src/conf/xml-resources/web-service-references/WSAlmacenes/wsdl/localhost_8080/Dikelloo/WSAlmacenes.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="WSAlmacenes">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/Dikelloo/WSAlmacenes?xsd=1" />
</xsd:schema>
</types>
<message name="inventario">
<part name="parameters" element="tns:inventario" />
</message>
<message name="inventarioResponse">
<part name="parameters" element="tns:inventarioResponse" />
</message>
<message name="almacenes">
<part name="parameters" element="tns:almacenes" />
</message>
<message name="almacenesResponse">
<part name="parameters" element="tns:almacenesResponse" />
</message>
<message name="usuarioDeAlmacen">
<part name="parameters" element="tns:usuarioDeAlmacen" />
</message>
<message name="usuarioDeAlmacenResponse">
<part name="parameters" element="tns:usuarioDeAlmacenResponse" />
</message>
<message name="inventarioDetallado">
<part name="parameters" element="tns:inventarioDetallado" />
</message>
<message name="inventarioDetalladoResponse">
<part name="parameters" element="tns:inventarioDetalladoResponse" />
</message>
<portType name="WSAlmacenes">
<operation name="inventario">
<input wsam:Action="http://webservices/WSAlmacenes/inventarioRequest" message="tns:inventario" />
<output wsam:Action="http://webservices/WSAlmacenes/inventarioResponse" message="tns:inventarioResponse" />
</operation>
<operation name="almacenes">
<input wsam:Action="http://webservices/WSAlmacenes/almacenesRequest" message="tns:almacenes" />
<output wsam:Action="http://webservices/WSAlmacenes/almacenesResponse" message="tns:almacenesResponse" />
</operation>
<operation name="usuarioDeAlmacen">
<input wsam:Action="http://webservices/WSAlmacenes/usuarioDeAlmacenRequest" message="tns:usuarioDeAlmacen" />
<output wsam:Action="http://webservices/WSAlmacenes/usuarioDeAlmacenResponse" message="tns:usuarioDeAlmacenResponse" />
</operation>
<operation name="inventarioDetallado">
<input wsam:Action="http://webservices/WSAlmacenes/inventarioDetalladoRequest" message="tns:inventarioDetallado" />
<output wsam:Action="http://webservices/WSAlmacenes/inventarioDetalladoResponse" message="tns:inventarioDetalladoResponse" />
</operation>
</portType>
<binding name="WSAlmacenesPortBinding" type="tns:WSAlmacenes">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="inventario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="almacenes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="usuarioDeAlmacen">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="inventarioDetallado">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WSAlmacenes">
<port name="WSAlmacenesPort" binding="tns:WSAlmacenesPortBinding">
<soap:address location="http://localhost:8080/Dikelloo/WSAlmacenes" />
</port>
</service>
</definitions>